* {
  margin: 0;
  box-sizing: border-box;
  transition: all 0.35s linear;
  font-family: sans-serif;
}

body {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

/* main page */
#index {
  background-color: #242424;
}
.main {
  display: block;
}
h1 {
  margin: 48px auto;
}
.main-title {
  color: burlywood;
}

.main-btn {
  display: block;
  padding: 16px 48px;
  text-align: center;
  border: 3px solid sandybrown;
  border-radius: 48px;
  text-transform: uppercase;
  font-weight: bold;
  color: sandybrown;
}
#scrape {
  margin: 10px auto;
  background-color: #242424;
}
#scrape:hover {
  background-color: #f4a460;
}

.main-btn:hover {
  color: #242424;
  background-color: #f4a460;
}

label.active {
  background-color: sandybrown;
  color: #242424;
}
.loading {
  text-align: center;
}

/* preview page */
#preview-body {
  background-color: sandybrown;
}
.preview-title {
  display: block;
  color: #242424;
}
.btn {
  display: block;
  margin: 10px auto;
  padding: 16px 48px;
  border: 3px solid #242424;
  border-radius: 48px;
  text-transform: uppercase;
  font-weight: bold;
  text-decoration: none;
  color: #242424;
  background-color: sandybrown;
}
.btn:hover {
  text-decoration: none;
  color: #f4a460;
  background-color: #242424;
}
